<%- include("partials/header3", {title: "AdminIndex"}) %>
<%- include("partials/navbar3", {active:"AdminIndex"}) %>
<% if(failure) { %>
    <div class="alert alert-danger" role="alert">
        <%= msg %>
    </div>
<% } %>


  <!--Main layout-->
  <main style="margin-top: 58px">
    <div class="container pt-4">
        <div class="main-content" >
            <div class="container">
                <div class="entry-header">
                    <div class="entry-title">
                        <br><p>Upload your today Riddle</p><br>
                        Note: Riddle must be Numerical
                        <p>For Date : <%= new Date().toDateString() %> </p>
                        <form class = "question-form" action="/adminindex" method= "post" enctype="multipart/form-data">
                            <div class ="txtb">
                                <textarea name = "question" id="question" rows="8" cols="100" placeholder = "Enter your Question" required></textarea>
                            </div><br>
                            <div class="txtb">
                                <input name="createdAt" id="createdAt" type="date" placeholder="Enter date" required>
                            </div><br>
                            <div class = "txtb">
                                <input name="file" type="file" id = "file" onchange="preview()" placeholder="Upload an image">
                            </div><br>
                            <div class="txtb" style="margin-top:15px;">
                                <input name="createdBy" id ="createdBy" type="text" placeholder="Enter your name" >
                            </div><br>
                            <div class="txtb">
                                <input name="answer" id ="answer" type="text" placeholder="Enter the correct answer" >
                            </div><br>
    
                            <button type="submit" class="btn btn-info btn-lg btn-block admin-btn" style="width: 250px;">Post Question</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>
  <!--Main layout-->
 


<%- include("partials/footer") %>