<%- include("partials/header", {title: "Studenttindex"}) %>
<%- include("partials/navbar", {title:"Home"}) %>

<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="lineup-artists-headline">
                    <div class="entry-title">
                        <p>Welcome to the friends section</p>
                        <h2>Let's see your friends</h2>
                    </div><!-- entry-title -->

                    <div class="">
                        <% friends.forEach(friend => { %>
                            <% if(friend.registration_number != registernumber){ %>
                                <div class="lineup-artists-wrap">
                                    <div class="lineup-artists-description">
                                        <div class="lineup-artists-description-container">
                                            <div class="entry-title">
                                                <%= friend.firstname %>
                                                <%=friend.lastname %>
                                            </div><!-- entry-title -->
                                            <div class="entry-content">
                                                <p><%= friend.registration_number %></p>
                                                <p>Contact no :  <%= friend.phone_number %></p>
                                            </div><!-- entry-content -->
                                        </div><!-- lineup-artists-description-container -->
                                    </div><!-- lineup-artists-description -->
                                </div><!-- lineup-artists-wrap -->
                            <% } %>
                        <% }); %> -->
                    </div><!-- lineup-artists -->
                </div><!-- lineup-artists-headline -->
            </div><!-- col-12 -->
        </div><!-- row -->
    </div><!-- container -->
</div>


<div class="chatsection">
    <h2>Opened Forum</h2>
    <% if(openforum.length==0){ %>
        <h3>There arenot any open forum</h3>
    <% }else{ %>
        <% openforum.forEach(forum=>{ %>
            <div class="lineup-artists-wrap flex flex-wrap">
                <div class="lineup-artists-description">
                    <div class="lineup-artists-description-container">
                        <div class="entry-title">
                            <p class="header" ><%= forum.forumtopic %></p>
                            <p>Forum created on :  <%= forum.createdAt %></p>
                        </div><!-- entry-title -->   
                        <u><p>Comments</p></u>
                        <div class="entry-comment">
                            <% if(forumcomment.length==0){ %>
                                <div class="comments-description">
                                    <p>There are no comments</p>
                                </div>
                            <% }else { %>
                                <% forumcomment.forEach(comment=>{ %>
                                    <div class="comments-description">
                                        <%= comment.content %> --
                                        <%= comment.regno %>
                                    </div>
                                <% }); %>  
                            <% } %>  
                        </div>             
                    </div><!-- lineup-artists-description-container -->
                </div><!-- lineup-artists-description -->
            </div><!-- lineup-artists-wrap -->
        <% }); %>
    <% } %>


    <form action="/chat" class="forum-form" method="post">
        <div class="form-group">
            <textarea class="form-control" name="forumcomm" id="forumcomm" rows="5" autocomplete="off"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add the comment</button>
    </form>

<%- include("partials/footer") %>