<%- include("partials/header", {title: "Counsellor Index"}) %>
<%- include("partials/navbar2", {title:"Home"}) %>
<button  class="btn btn-primary" style="background-color:rgb(234, 209, 209);margin:10px;"><a href="/bookappointment">Book an Appointment</a></button>
<h1>Your Counselee </h1>
<div class="">
    <% if(allcounselee.length == 0){ %>
        <p>You have no counselee</p>
    <% }else{ %>
        <% allcounselee.forEach(counselee => { %>
                <div class="lineup-artists-wrap flex flex-wrap">
                    <div class="lineup-artists-description">
                        <div class="lineup-artists-description-container">
                            <div class="entry-title">
                                <%= counselee.firstname %>
                                <%=counselee.lastname %>
                            </div><!-- entry-title -->

                            <div class="entry-content">
                                <p><%= counselee.registration_number %></p>
                                <p>Contact no :  <%= counselee.phone_number %></p>
                            </div><!-- entry-content -->

                        </div><!-- lineup-artists-description-container -->
                    </div><!-- lineup-artists-description -->
                </div><!-- lineup-artists-wrap -->
        <% }); %> -->
    <% } %>
</div>
<hr>

<h2>Your scheduled appointments </h2>
<div class="">
    <% if(allappoint.length == 0){ %>
        <p>You have not any appoinments recently</p>
    <% }else{ %>
        <% allappoint.forEach(appoint => { %>
                <div class="lineup-artists-wrap flex flex-wrap">
                    <div class="lineup-artists-description">
                        <div class="lineup-artists-description-container">
                            <div class="entry-title">
                                With: <%= appoint.beneficiary %>
                            </div><!-- entry-title -->
                            <div class="entry-content">
                                <p>Type: <%=appoint.venue_type %></p>
                                <p> Venue: <%=appoint.venue %> </p>
                                <p>Date: <%= appoint.date %></p>
                                <p>Time :  <%= appoint.time %></p>
                            </div><!-- entry-content -->
    
                        </div><!-- lineup-artists-description-container -->
                    </div><!-- lineup-artists-description -->
                </div><!-- lineup-artists-wrap -->
        <% }); %> -->
    <% } %>
</div><!-- lineup-artists -->
<hr>
<h3>Your Messages with counselee</h3>
<div class="card-columns" style="background-color:rgb(232, 221, 221); padding: 10px;">
    <% if(allcounseleechat.length == 0){ %>
        <p>You donot have any counselee to chat</p>
    <% }else{ %>
        <% for (let i=0;i<allcounseleechat.length;i++){ %>
            <div class="card">
                <img src="<%= counseleephoto[i] %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= allcounseleechat[i].regno %></h5>
                    <p class="card-text">You have <%= allcounseleechat[i].messages.length %> messages</p>
                    <a href="/counsellorchat?id=<%= allcounseleechat[i]._id %>" class="btn btn-primary">See Messages</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><p class="last-updated">Last modified on <%= allcounseleechat[i].lastmodified %></p></small>
                </div>
            </div>
        <% } %>
    <% } %>
  </div>

<%- include("partials/footer") %>