<%- include("partials/header", {title: "Counsellor Index"}) %>
<%- include("partials/navbar2", {title:"Profile"} ,{navactive:"profile"}) %>

<section style="background-color: #eee;">
    <div class="container py-5">
     
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="<%= counsellor.img %>" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3"><%= counsellor.firstname %> <%= counsellor.lastname %></h5>
              <p class="text-muted mb-4"><%= counsellor.email %></p>
              <p class="text-muted mb-4"><%= counsellor.phone_number %></p>
            </div>
          </div>
          
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <form action="/counsellorprofile" method="post" enctype="multipart/form-data">
                <div class="row" id ="myprofile" style="display: none;">
                  <div class="col-sm-3">
                    <p class="mb-0">Change Profile Picture</p><br>
                  </div>
                  <div class="col-sm-9">
                    <input class="text-muted mb-0 form-control-file"  id="imageurl" type="file" name="imageurl" required>
                  </div>
                </div>
                <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">First Name</p>
                </div>
                <div class="col-sm-9">
                  <input class="text-muted mb-0 form-control-plaintext myinp" type="text" name="fname" required autocomplete="off" value="<%= counsellor.firstname %>" readonly="readonly">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Last Name</p>
                </div>
                <div class="col-sm-9">
                  <input class="text-muted mb-0 form-control-plaintext myinp" type="text" name="lname" required autocomplete="off" value="<%= counsellor.lastname %>" readonly="readonly">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Age</p>
                </div>
                <div class="col-sm-9">
                  <input class="text-muted mb-0 form-control-plaintext myinp" type="number" name="age" required autocomplete="off" value="<%= counsellor.age %>" readonly>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Designation</p>
                </div>
                <div class="col-sm-9">
                  <input class="text-muted mb-0 form-control-plaintext myinp" type="text" name="designation" required autocomplete="off" value="<%= counsellor.designation %>" readonly>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Gender</p>
                </div>
                <div class="col-sm-9">
                  <input class="text-muted mb-0 form-control-plaintext myinp" type="text" name="gender" required autocomplete="off" value="<%= counsellor.gender %>" readonly>
                </div>
              </div>
              <hr>
             
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Summary</p>
                </div>
                <div class="col-sm-9">
                  <input class="text-muted mb-0 form-control-plaintext myinp" type="text" name="summary" required autocomplete="off" value="<%= counsellor.summary %>" readonly>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <input class="text-muted mb-0 form-control-plaintext myinp" type="text" name="phn_no" required autocomplete="off" value="<%= counsellor.phone_number %>" readonly>
                </div>
              </div>
              <hr>
             
              <div class="row">
                <div class="col-lg-12 col-sm-12" >
                  
                  <button id="submit" type="submit" class ="btn btn-success" value="" style="float: right; margin:10px; display:none" >Submit</button>
                </div>
              </div>
            </form>
            <button id="edit" class="btn btn-info" value="" style="float: right;" onclick="editbtn()">Edit</button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
<%- include("partials/footer") %>
