<%- include("partials/header", {title: "Studenttindex"}) %>
<%- include("partials/navbar", {title:"Home"}) %>


<div class="main-content">
    <div class="container">
        <div class="entry-header">
            <div class="entry-title">
                <p><a href ="/addevent" >Add event/note</a></p>
                <h2>Your events/notes</h2>
            </div><!-- entry-title -->
        </div><!-- entry-header -->
    </div>
</div>

<div class="userevent">
    <% if(eventfound.length==0){ %>
        <p>You have no events</p>
    <% }else{ %>
        <p>Total events: <%= eventfound.length %></p>
        <% eventfound.forEach(event => { %>
                <div class="lineup-artists-wrap flex flex-wrap">

                    <div class="lineup-artists-description">
                        <div class="lineup-artists-description-container">
                            <div class="entry-title">
                                <%= event.eventname %>
                            </div><!-- entry-title -->

                            <div class="entry-content">
                                <p><%= event.eventdesc %></p>
                                <p>Event date :  <%= event.createdAt %></p>
                            </div><!-- entry-content -->

                        </div><!-- lineup-artists-description-container -->
                    </div><!-- lineup-artists-description -->
                </div><!-- lineup-artists-wrap -->
        <% }); %> -->
    <% } %>

<%- include("partials/footer") %>
