<%- include("partials/header", {title: "Studenttindex"}) %>
<%- include("partials/navbar", {title:"Home"}) %>

<head>
    <style>
        .feature .feature-box .iconset {
            background: #fff none repeat scroll 0 0;
            float: left;
           
        }
        
        .feature .feature-box .feature-content h4 {
            color: #0f0f0f;
            font-size: 18px;
            letter-spacing: 0;
            line-height: 22px;
            margin: 0 0 5px;
        }
        
        
        .feature .feature-box .feature-content {
            float: left;
            padding-left: 18px;
            padding-top: 10px;
            width: 78%;
            border: 1px solid #0004;
            margin: 5px;
        }
        .feature .feature-box .feature-content h4 {
            color: #0f0f0f;
            font-size: 18px;
            letter-spacing: 0;
            line-height: 22px;
            margin: 0 0 5px;
        }
        .feature .feature-box .feature-content p {
            color: #606060;
            font-size: 13px;
            line-height: 22px;
            margin: 0;
        }
        .icon {
            color : #f4b841;
            padding:0px;
            font-size:20px;
            color: #fdb801;
            font-size: 28px;
            height: 70px;
            line-height: 70px;
            text-align: center;
            width: 70px;
        }
    </style>
</head>

<div class="newsinfo" >
<h1>Take a Look at the information!</h1>
    <div class="highlights-wrapper">
        <div class="book-highlights">
            <div class="book">
                <img src= "/uploads/news.jpeg" alt="image" width="550px" height="350px">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <div class="feature">
                        <h4>Notice and News</h4>
                        <% if(newsinfo.length==0){ %>
                            <p>There are not any news</p>
                        <% }else{ %>
                            <% newsinfo.forEach(news=>{ %>
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset">
                                        <span class="icon"><i class="fa fa-bullhorn fa-lg" style="color: #fdb801;"></i></span>
                                    </div>
                                    <div class="feature-content">
                                        <h4>By: Admin</h4>
                                        <p>Date: <%= news.createdAt %></p>
                                        <p style="font-size:20px;"><%= news.news %></p>
                                        <a href="<%= news.newsurl%>" target="_blank">Read more...</a>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-content" >
    <div class="container">
        <div class="entry-header" style="background-color: rgb(241 197 197 / 46%);padding: 28px;box-shadow: 11px 16px 10px #0004;border-radius: 10px;">
            <h1>Today's Riddle</h1>
            <div class="entry-title">
                <p>By : <%= todaygame.createdBy %></p>
                <form class = "question-form" action="/studentindex" method= "post">
                    <div class ="txtb">
                        <textarea name = "question" id="question" value=  rows="15" cols="140" readonly><%= todaygame.question %></textarea>
                    </div><br>
                    <div class = "txtb">
                        <img id="todaygameimg" src="<%= todaygame.img %>" height="500" width="1000px"> 
                    </div><br>
                    <div class="txtb">
                        <input name="answer" id ="answer" type="text" placeholder="Enter the answer" style="width: 250px;">
                    </div><br>
                    <button type="submit" class="btn btn-dark btn-lg btn-block admin-btn">Post your answer</button>
                </form>
            </div><!-- -->
        </div><!-- -->
    </div>
</div>
<%- include("partials/footer") %>
