<%- include("partials/header", {title: "Counselling"}) %>
<%- include("partials/navbar", {title:"Home"}) %>
<div class="user-counselling">
    <div class="header">
        <div class="entry-title">
            <h1>Your counselling section at glance</h1>
        </div>
        <div class="appointment">
            <p>Your appointment details</p>
            <% if(appointment.length==0){ %>
                <div class="appointment-details">
                <p>There are not any appointments</p>
                </div>
            <% } else{ %>
                <% appointment.forEach(appoint=>{ %>
                    <div class="appointment-details">
                    <p>There are  appointments</p>
                    </div>
                <% }); %>
            <% } %>
        </div>
    </div>
</div>
<hr>


<div class="container mt-5">
    <h2>Counsellor Information</h2>
    <div class="row d-flex justify-content-left">
        <div class="col-md-7">
            
            <div class="card p-3 py-4">
                <div class="text-center">
                    <img src="<%= counsel.img %>" width="100" class="rounded-circle">
                </div>
                <div class="text-center mt-3">
                    <span class="bg-secondary p-1 px-4 rounded text-white">Counsellor</span>
                    <h5 class="mt-2 mb-0"><%= counsel.firstname %> </h5>
                    <span><%= counsel.designation %></span>
                    
                    <div class="px-4 mt-1">
                        <p class="fonts"><%= counsel.summary %></p>
                    </div>
                    <div class="buttons">
                        <button class="btn btn-primary px-4 ms-3">Request an appointment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="counsellor-message-section">
    <h2>Messages with Proctor</h2>
    <u><p>Messages</p></u>
    <% if(msgwithcounsel.length==0) { %>
        <p>There arenot any messages</p>
    <% }else{ %>
        <div class="header">
            <div class="entry-header">
                <div class="entry-title"> 
                    <% msgwithcounsel.forEach(msg=>{ %>
                        <div class="counsellor-comment">
                            <% if(msg.from === "counsellor") { %>
                                <div class="counsellor-description" style="background-color: aqua; float: right;">
                                    <%= msg.context %> --
                                    <%= msg.By %> -- at
                                    <%= msg.createdAt %>
                                </div>
                            <% } else { %>
                                <div class="counsellor-description">
                                    <%= msg.context %> --
                                    <%= msg.By %> -- at
                                    <%= msg.createdAt %>
                                </div>
                            <% } %>
                        </div>   
                    <% }); %>           
                </div><!-- lineup-artists-description-container -->
            </div><!-- lineup-artists-description -->
        </div><!-- lineup-artists-wrap -->
    <% } %>
</div>



<form action="/usercounselling" class="forum-counselling" method="post">
    <div class="form-group">
        <textarea class="form-control" name="forumcomm" id="forumcomm" rows="5" autocomplete="off"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add the message</button>
</form>



<%- include("partials/footer") %>